SR-backend/SRB/db.sqlite3
SR-backend/SRB/req.txt
SR-backend/SRB/food/__pycache__/apps.cpython-38.pyc
SR-backend/SRB/food/__pycache__/apps.cpython-39.pyc
SR-backend/SRB/food/__pycache__/consumers.cpython-38.pyc
SR-backend/SRB/food/__pycache__/foodDetector.cpython-39.pyc
SR-backend/SRB/food/__pycache__/imageCapture.cpython-39.pyc
SR-backend/SRB/food/__pycache__/liveFoodDetection.cpython-38.pyc
SR-backend/SRB/food/__pycache__/routing.cpython-38.pyc
SR-backend/SRB/food/__pycache__/urls.cpython-39.pyc
SR-backend/SRB/food/__pycache__/views.cpython-38.pyc
SR-backend/SRB/food/__pycache__/views.cpython-39.pyc
SR-backend/SRB/SRB/__pycache__/settings.cpython-38.pyc
SR-backend/SRB/SRB/__pycache__/settings.cpython-39.pyc
SR-backend/SRB/SRB/__pycache__/urls.cpython-38.pyc
SR-backend/SRB/users/__pycache__/apps.cpython-38.pyc
SR-backend/SRB/users/__pycache__/apps.cpython-39.pyc
SR-backend/SRB/users/__pycache__/views.cpython-38.pyc
SR-backend/SRB/users/__pycache__/views.cpython-39.pyc
SR-backend/SRB/db.sqlite3
SR-backend/SRB/food/__pycache__/consumers.cpython-38.pyc
SR-backend/SRB/food/__pycache__/foodDetector.cpython-39.pyc
SR-backend/SRB/food/__pycache__/imageCapture.cpython-39.pyc
SR-backend/SRB/food/__pycache__/liveFoodDetection.cpython-38.pyc
SR-backend/SRB/food/__pycache__/routing.cpython-38.pyc
SR-backend/SRB/food/__pycache__/urls.cpython-39.pyc
SR-backend/SRB/food/__pycache__/views.cpython-38.pyc
SR-backend/SRB/food/__pycache__/views.cpython-39.pyc
SR-backend/SRB/SRB/__pycache__/settings.cpython-38.pyc
SR-backend/SRB/SRB/__pycache__/settings.cpython-39.pyc
SR-backend/SRB/SRB/__pycache__/urls.cpython-38.pyc
SR-backend/SRB/users/__pycache__/views.cpython-38.pyc
SR-backend/SRB/users/__pycache__/views.cpython-39.pyc
