<div class="col-md-6 offset-md-3">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card text-center">
        <!-- <mat-card-header> -->
          <mat-card-title>Login</mat-card-title>
        <!-- </mat-card-header> -->
        <mat-card-content>
          <div class="row">
            <div class="col ">
              <mat-form-field class="full-width">
                <input matInput placeholder="Enter your User Id" formControlName="UID">
                <mat-error *ngIf="loginForm.controls.UID.errors?.required">
                  User Id is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col ">
              <mat-form-field class="full-width">
                <input matInput placeholder="Enter you Password" formControlName="password" type="password" (keyup.enter)="(!loginForm.invalid && !disableSubmit)?onSubmit():null" #password>
                <button mat-button *ngIf="password.value && password.type == 'password'" matSuffix mat-icon-button aria-label="show" (click)="password.type='text'">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button mat-button *ngIf="password.value && password.type == 'text'" matSuffix mat-icon-button aria-label="hide" (click)="password.type='password'">
                  <mat-icon>visibility_off</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.controls.password.errors?.required">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
    
          
        </mat-card-content> 
        <mat-card-actions class="text-center">
          <button mat-raised-button type="submit" [disabled]="loginForm.invalid || disableSubmit" #submitButton>Submit</button>
          <button mat-raised-button type="button" (click)="reset()" class="purple">Clear</button>
        </mat-card-actions>
        <div *ngIf="UID" class="alert alert-success">
            <p>Logged In Successfully</p>
        </div>
        <div *ngIf="error" class="alert alert-danger">
          <p>{{error}}</p>
      </div>
      </mat-card>
    </form>
    
  </div>